.dashboard-container {
    width: 100%;
    max-width: 1400px;

    margin: 0 auto;

    padding: 32px;
}

.content-grid {
    margin-top: 24px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 24px;

    align-items: stretch;
}

.content-grid > .card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    height: 100%;
}

.expenses-card,
.chart-card {
    height: 420px;
}

.chart-card {
    min-height: auto;
}

.pie-container {
    height: 490px;
    margin-top: 40px;
}

.welcome-container {
    margin-bottom: 20px;
}

@media (max-width: 768px) {

    .dashboard-container {

        padding: 16px;

        padding-top: 90px;
    }

    .content-grid {
        grid-template-columns: 1fr;
    }

    .pie-container {
        height: 300px;
    }
}